* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //css reset
}

@media only screen and (max-width: 480px) {
  .wrapper {
  }
  .information {
    &__self {
      text-align: center;
      font-family: $fontStyle;
    }

    &__skills {
      font-family: $fontStyle;
      height: 100vh;

      h2 {
        text-align: center;
      }

      &__right > p {
        @include skillSet;
      }

      &__left > p {
        @include skillSet;
      }
    }
  }
}
