* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //css reset
}

//-----------------------------------------------------------------------------------------
// handle desktop design
//-----------------------------------------------------------------------------------------

// Start of home page styling

.information {
  &__self {
    text-align: center;
    font-family: $fontStyle;
    margin-top: 10vh;
  }

  &__skills {
    font-family: $fontStyle;
    height: 100vh;
    h2 {
      text-align: center;
    }

    &__right > p {
      @include skillSetDesktop;
      margin-top: 20px;
    }

    &__left > p {
      @include skillSetDesktop;
      margin-top: 30px;
    }
  }
}

//-----------------------------------------------------------------------------------------
// handle reposonsive design
//-----------------------------------------------------------------------------------------

@media only screen and (max-width: 480px) {
  // Start of home page styling
  .wrapper {
  }
  .information {
    &__self {
      text-align: center;
      font-family: $fontStyle;
    }

    &__skills {
      font-family: $fontStyle;
      height: 100vh;

      h2 {
        text-align: center;
      }

      &__right > p {
        @include skillSet;
      }

      &__left > p {
        @include skillSet;
      }
    }
  }

  // End of home page styling
  //-----------------------------------------------------------------------------------------
  // Start of Portfolio page and card  styling

  .card {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: 80px;
    font-family: $fontStyle;
    background-color: #ebebeb;
    font-size: $fontSize;
    &__button {
      border: none;
      background-color: #ebebeb;
      margin-top: 10%;
      font-family: $fontStyle;
      font-size: $fontSize;
    }
    &__arrow {
      height: 30px;
      width: 30px;
      margin-left: 10px;
    }
  }

  // End of Portfolio page and card styling
  //-----------------------------------------------------------------------------------------
  // Start of Contact page styling

  .contact {
    text-align: center;
    margin-top: 40px;
  }

  .verticalLine {
    border: 0.01px solid black;
    margin-left: 40px;
    margin-right: 40px;
  }
  h1 {
    font-family: $fontStyle;
  }
  .contact > p {
    margin-top: 10px;
    font-family: $fontStyle;
  }

  // End of contact page styling
}
