* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //css reset
}
//-----------------------------------------------------------------------------------------
// handle reposonsive design
//-----------------------------------------------------------------------------------------

@media only screen and (max-width: 480px) {
  // Start of home page styling
  .wrapper {
  }
  .information {
    &__self {
      text-align: center;
      font-family: $fontStyle;
    }

    &__skills {
      font-family: $fontStyle;
      height: 100vh;

      h2 {
        text-align: center;
      }

      &__right > p {
        @include skillSet;
      }

      &__left > p {
        @include skillSet;
      }
    }
  }

  // End of home page styling
  //-----------------------------------------------------------------------------------------
  // Start of portfolio page and card  styling

  .card {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    height: 80px;
    font-family: $fontStyle;
    background-color: #ebebeb;
    font-size: $fontSize;
    &__button {
      border: none;
      background-color: #ebebeb;
      margin-top: 10%;
      font-family: $fontStyle;
      font-size: $fontSize;
    }
    &__arrow {
      height: 30px;
      width: 30px;
      margin-left: 10px;
    }
  }

  // End of portfolio page and card styling
}
