//-----------------------------------------------------------------------------------------
// Navbar styles
//-----------------------------------------------------------------------------------------

@mixin navBar() {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  background-color: #ebebeb;
  padding: 20px;
  box-shadow: 1px 0.2px black;
}

@mixin navBarLinks() {
  list-style: none;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: $fontStyle;
  color: black;
}

//-----------------------------------------------------------------------------------------
// home page  styles
//-----------------------------------------------------------------------------------------

@mixin skillSet() {
  //for responsive design
  border: 2px dotted black;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
}

@mixin skillSetDesktop() {
  //for desktop design
  border: 2px dotted black;
  border-radius: 5px;
  text-align: center;
  margin-left: 200px;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  font-size: $fontSize;
}

//-----------------------------------------------------------------------------------------
// Portfolio page  styles
//-----------------------------------------------------------------------------------------

@mixin card() {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  height: 80px;
  font-family: $fontStyle;
  background-color: #ebebeb;
  font-size: $fontSize;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 70px;
  border-radius: 20px;
}

@mixin button() {
  border: none;
  background-color: #ebebeb;
  margin-top: 10%;
  font-family: $fontStyle;
  font-size: $fontSize;
}

@mixin arrow() {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
